body {
    height: 100%;
}

main {
    /* margin: 5em 10em 5em 10em; */
    min-height: 80%;
    border: 1px solid black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#field {
    border: 1px solid red;
    flex: auto;
    width: max-content;
    min-width: 100px;
    height: 100%;
    min-height: 100px;
}

main > div {
    margin: 10px;
}

#panel {
    text-align: right;
}

.cell {
    border: 1px solid grey;
}