body {
    height: 100%;
    text-align: center;
}

main {
    margin: 5em 10em 5em 10em;
    min-height: 80%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto 300px;
    overflow: scroll;
    resize: both;
}

main > div {
    margin: 10px;
}

#field {
    min-width: 100px;
    min-height: 100px;
}

#panel {
    vertical-align: center;
    text-align: right;
    line-height: 2em;
}

.cell {
    border: 1px solid grey;
}